<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsScores</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse colorIndex" style="position: fixed; width: 100%; border-width: 0; background-color: #f44336">
  <div class="container-fluid" style="display: block;">
    <div class="navbar-header" style="width=100%">
      <button type="button" class="navbar-toggle" id="navbar-btn" onclick=toggleNav() style="width: auto; border-color:white; margin-right:5%!important;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand w3-hover-white" href="/Index" style="padding: 0; padding-left: 5%; padding-top: 7px"><img src="~/images/logo_transparent.png" style="height: 100%"></img></a>
    </div>
    <div class="mobileNavbar" id="myNavbar">
      <ul class="nav navbar-nav" style="display: block; margin: 0">
        <li><a class="w3-hover-white" href="/NBA" style="color: white; text-align:center">NBA</a></li>
        <li><a class="w3-hover-white" href="/MLB" style="color: white; text-align:center">MLB</a></li>
        <li><a class="w3-hover-white" href="/NHL" style="color: white; text-align:center">NHL</a></li>
        <li><a class="w3-hover-white" href="/NFL" style="color: white; text-align:center">NFL</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right" style="display: block; margin: 0">
        <li><a id="loginBtn" class="w3-hover-white" href="/MongoDb/Signup" style="color: white; text-align:center; display: block; width: 100%;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a id="signupBtn" class="w3-hover-white" href="/MongoDb/Login" style="color: white; text-align:center; display: block; width: 100%;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a id="logoutBtn" class="w3-hover-white" href="/Signout" style="color: white; text-align:center; display: none; width: 100%;"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
        <li><a id="accountBtn" class="w3-hover-white" href="/AccountHome" style="color: white; text-align:center; display: none; width: 100%;"><span class="glyphicon glyphicon-user"></span> Account Hub</a></li>
      </ul>
    </div>
  </div>
</nav>

  <script type="text/javascript">
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${"loggedInStatus"}=`);
    var result = 0;
    if (parts.length === 2){
      result = parts.pop().split(';').shift();
    }
    if(window.innerWidth < 600){
      if(result == "true"){
        document.getElementById("loginBtn").style.display = "none";
        document.getElementById("signupBtn").style.display = "none";
        document.getElementById("logoutBtn").style.display = "inline-grid";
        document.getElementById("accountBtn").style.display = "inline-grid";
      }
      else{
        document.getElementById("loginBtn").style.display = "inline-grid";
        document.getElementById("signupBtn").style.display = "inline-grid";
        document.getElementById("logoutBtn").style.display = "none";
        document.getElementById("accountBtn").style.display = "none";
      }
    } else
    {
      if(result == "true"){
        document.getElementById("loginBtn").style.display = "none";
        document.getElementById("signupBtn").style.display = "none";
        document.getElementById("logoutBtn").style.display = "block";
        document.getElementById("accountBtn").style.display = "block";
      }
      else{
        document.getElementById("loginBtn").style.display = "block";
        document.getElementById("signupBtn").style.display = "block";
        document.getElementById("logoutBtn").style.display = "none";
        document.getElementById("accountBtn").style.display = "none";
      }
    }
</script>

<script>
function toggleNav() {
  document.getElementById("myNavbar").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
    if (!e.target.matches('.navbar-toggle')) 
    {
      var bestDropdown = document.getElementById("myNavbar");
      if (bestDropdown.classList.contains('show')) {
        bestDropdown.classList.remove('show');
      }
    }
  }
</script>

    <div style="width: 100%; height: 100%;">
        <main role="main" style="width: 100%;">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>