<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsScores</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      footer {
        position: absolute;
        height: auto;
        vertical-align: middle;
        bottom:0;
        width: 100%;
        white-space: nowrap;
        color: black;
        opacity: 0.5;
      }    
    </style>
</head>

<body>

<nav class="navbar navbar-inverse w3-black" style="position: fixed; width: 100%">
  <div class="container-fluid" style="display: table;">
    <div class="navbar-header" style="width=100%">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="width: auto;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Sports Scores</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" style="display: block;">
        <li><a href="/Index">Home</a></li>
        <li><a href="/NBA">NBA</a></li>
        <li><a href="/MLB">MLB</a></li>
        <li><a href="/NHL">NHL</a></li>
        <li><a href="/NFL">NFL</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right" style="display: block;">
        <li><a href="/MongoDb/Signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/MongoDb/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

    <div style="width: 100%; height: 100%;">
        <main role="main" style="width: 100%;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: white; position: fixed">
        <div class="container footerText" style="width: 100%; bottom: 0; left: 5%; margin: auto">
            &copy; 2023 - SportsScores - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/showLoginPage.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>