@page
@model MyTestWeb.Pages.MongoDb.LoginModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsScores</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loginSignup.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<style>
body {
  background-image: url('https://images.squarespace-cdn.com/content/v1/5b352a76f93fd4a1745161a8/1530580533507-XFJITGNH91P5QQGMSX4Q/layout-background.jpg?format=2500w');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

    <!-- The Modal -->
<div class="modal" style="height: 100%;">

<div class="container">
  <!-- Modal Content -->
  <div class="container" style="height: 18%; padding-top:0; ">
    @if (!String.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["ErrorMessage"]
        </div>
    }
  </div>

  <form class="modal-content animate mobileScreen" method="post" style="height:82%">

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" class="form-control" placeholder="Enter Username" id="uname" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" class="form-control" placeholder="Enter Password" id="psw" name="psw" required>

      <button type="submit" >Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <a type="button" href="/Index" class="cancelbtn">Cancel</a>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
  </div>
</div>

<footer class="footer text-muted" style="position: absolute;">
        <div class="container footerText" style="color: white;">
            &copy; 2023 - SportsScores - <a style="color: white;" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
</footer>

</body>
</html>