@page
@model AccountHomeModel
@{
    ViewData["Title"] = "Account Home";
}
<head>
  <title>Account Hub</title>
  <link rel="icon" type="images/x-icon" href="https://banner2.cleanpng.com/20180219/ssw/kisspng-sport-baseball-play-clip-art-sports-star-cliparts-5a8a64433d6d00.6495583115190190752516.jpg">
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
  <link rel="stylesheet" href="~/css/kolbyPicks.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/betBoard.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/bestBet.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/scoreboard.css" asp-append-version="true" />
  <script src="~/js/bestBets.js" asp-append-version="true"></script>
  <script src="~/js/kolbysBets.js" asp-append-version="true"></script>
  <script src="~/js/scoreboard.js" asp-append-version="true"></script>
  <script src="~/js/betBoard.js" asp-append-version="true"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: beige;">

  <div class="container" style="height: 0px; padding-top:0; ">
    @if (!String.IsNullOrEmpty(ViewData["successAcc"] as string))
    {
        <div class="alert alert-success alert-dismissible" style="width:100%;position:relative;margin-top:10px">
          <span class="closeAlert">X</span>
          @ViewData["successAcc"]
        </div> 
    }
    </div>

<header class=" w3-container w3-red w3-center" style="height: 25%; padding-top: 35px;">
        <h1 class="w3-margin mobileHeader"
          style="color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:64px">Account Hub</h1>
        </header>


        <div class="w3" width=100%>
          <div class="w3-bar w3-red" width=100%>

            <div class="dropdown w3-mobile w3-red w3-hover-white" style="width: 25%; position: unset">
              <button class="dropbtn w3-hover-text-black" onclick=showHomeDropdown()>Home
                <span class="caret"></span>
              </button>
              <div class="dropdown-content w3-mobile mobileposition" id="HomeDropdown" style="display: none;">
                <a class="dropdown-link w3-red w3-hover-white act-divider" onclick=showAccountNBA();showHomeDropdown() style="border-left: none; border-top:none; border-right:none;">Betting Odds</a>
                <a class="dropdown-link w3-red w3-hover-white" onclick=showTopScores();showHomeDropdown()>Live Scores</a>
              </div>
            </div>
            
            <div class="dropdown w3-mobile w3-red w3-hover-white" style="width: 25%; position: unset">
              <button class="dropbtn w3-hover-text-black" onclick=showBestDropdown()>AI Best Bets
                <span class="caret"></span>
              </button>
              <div class="dropdown-content w3-mobile mobileposition" id="BestDropdown" style="display: none;">
                <a class="dropdown-link w3-red w3-hover-white act-divider" onclick=showNBABets();showBestDropdown() style="border-left: none; border-top:none; border-right:none;">NBA</a>
                <a class="dropdown-link w3-red w3-hover-white act-divider" onclick=showMLBBets();showBestDropdown() style="border-left: none; border-top:none; border-right:none;">MLB</a>
                <a class="dropdown-link w3-red w3-hover-white" onclick=showNHLBets();showBestDropdown()>NHL</a>
              </div>
            </div>

            <div class="dropdown w3-mobile w3-red w3-hover-white" style="width: 25%; position: unset">
              <button class="dropbtn w3-hover-text-black" onclick=showKolbysDropdown()>Kolby's Picks
                <span class="caret"></span>
              </button>
              <div class="dropdown-content w3-mobile mobileposition" id="KolbysDropdown" style="display: none;">
                <a class="dropdown-link w3-red w3-hover-white act-divider" onclick=showKolbysNBA();showKolbysDropdown() style="border-left: none; border-top:none; border-right:none;">NBA</a>
                <a class="dropdown-link w3-red w3-hover-white act-divider" onclick=showKolbysMLB();showKolbysDropdown() style="border-left: none; border-top:none; border-right:none;">MLB</a>
                <a class="dropdown-link w3-red w3-hover-white" onclick=showKolbysNHL();showKolbysDropdown()>NHL</a>
              </div>
            </div>

             <div class="dropdown w3-mobile w3-red w3-hover-white" style="width: 25%; position: unset">
              <button class="dropbtn w3-hover-text-black" onclick=showSettingsDropdown()>Account Settings
                <span class="caret"></span>
              </button>
              <div class="dropdown-content w3-mobile mobileposition" id="settingsDropdown" style="display: none;">
                <a class="dropdown-link w3-red w3-hover-white act-divider" href="/ChangeEmail" onclick=showSettingsDropdown() style="border-left: none; border-top:none; border-right:none;">Update Email</a>
                <a class="dropdown-link w3-red w3-hover-white" href="/ChangePsw" onclick=showSettingsDropdown()>Change Password</a>
              </div>
            </div>
          </div>
        </div>

        <div class="AccountContainer"></div>

        <script type="text/javascript">
          showAccountNBA();
        </script>
        <footer class="footer text-muted">
        <div class="container footerText">
            &copy; 2023 - Sport Scores - <a style="color: black;" asp-area="" asp-page="/Privacy">Privacy</a> - Please Contact kolbyzboesel@gmail.com With Bugs and Improvement Ideas
        </div>
        </footer>

        <script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */

function showHomeDropdown() {
  document.getElementById("HomeDropdown").classList.toggle('show');
      var bestDropdown = document.getElementById("BestDropdown");
      if (bestDropdown.classList.contains('show')) {
        bestDropdown.classList.remove('show');
      }
      var kolbyDropdown = document.getElementById("KolbysDropdown");
      if (kolbyDropdown.classList.contains('show')) {
      kolbyDropdown.classList.remove('show');
      }
      var bestDropdown = document.getElementById("settingsDropdown");
      if (bestDropdown.classList.contains('show')) {
        bestDropdown.classList.remove('show');
      }
      var navDropdown = document.getElementById("myNavbar");
      if (navDropdown.classList.contains('show')) {
        navDropdown.classList.remove('show');
      }
  }

function showBestDropdown() {
  document.getElementById("BestDropdown").classList.toggle("show");
  var kolbyDropdown = document.getElementById("KolbysDropdown");
    if (kolbyDropdown.classList.contains('show')) {
      kolbyDropdown.classList.remove('show');
    }
      var bestDropdown = document.getElementById("settingsDropdown");
      if (bestDropdown.classList.contains('show')) {
        bestDropdown.classList.remove('show');
      }

      var kolbyDropdown = document.getElementById("HomeDropdown");
      if (kolbyDropdown.classList.contains('show')) {
      kolbyDropdown.classList.remove('show');
      }
      var navDropdown = document.getElementById("myNavbar");
      if (navDropdown.classList.contains('show')) {
        navDropdown.classList.remove('show');
      }
}

function showKolbysDropdown() {
  document.getElementById("KolbysDropdown").classList.toggle("show");
  var bestDropdown = document.getElementById("BestDropdown");
      if (bestDropdown.classList.contains('show')) {
        bestDropdown.classList.remove('show');
      }
      var bestDropdown = document.getElementById("settingsDropdown");
      if (bestDropdown.classList.contains('show')) {
        bestDropdown.classList.remove('show');
      }
      var kolbyDropdown = document.getElementById("HomeDropdown");
      if (kolbyDropdown.classList.contains('show')) {
      kolbyDropdown.classList.remove('show');
      }
      var navDropdown = document.getElementById("myNavbar");
      if (navDropdown.classList.contains('show')) {
        navDropdown.classList.remove('show');
      }
  }

  function showSettingsDropdown() {
  document.getElementById("settingsDropdown").classList.toggle("show");
      var bestDropdown = document.getElementById("BestDropdown");
      if (bestDropdown.classList.contains('show')) {
        bestDropdown.classList.remove('show');
      }
      var kolbyDropdown = document.getElementById("KolbysDropdown");
      if (kolbyDropdown.classList.contains('show')) {
      kolbyDropdown.classList.remove('show');
      }
      var kolbyDropdown = document.getElementById("HomeDropdown");
      if (kolbyDropdown.classList.contains('show')) {
      kolbyDropdown.classList.remove('show');
      }

      var navDropdown = document.getElementById("myNavbar");
      if (navDropdown.classList.contains('show')) {
        navDropdown.classList.remove('show');
      }
  }

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) 
  {
    var bestDropdown = document.getElementById("BestDropdown");
      if (bestDropdown.classList.contains('show')) {
        bestDropdown.classList.remove('show');
      }

    var kolbyDropdown = document.getElementById("KolbysDropdown");
    if (kolbyDropdown.classList.contains('show')) {
      kolbyDropdown.classList.remove('show');
    }

    var kolbyDropdown = document.getElementById("settingsDropdown");
    if (kolbyDropdown.classList.contains('show')) {
      kolbyDropdown.classList.remove('show');
    }
    var kolbyDropdown = document.getElementById("HomeDropdown");
    if (kolbyDropdown.classList.contains('show')) {
      kolbyDropdown.classList.remove('show');
      }
    }
  }
</script>

<script type="text/javascript">
function toggleNav() {
  document.getElementById("myNavbar").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
    if (!e.target.matches('.dropbtn')) 
    {
      var navDropdown = document.getElementById("myNavbar");
      if (navDropdown.classList.contains('show')) {
        navDropdown.classList.remove('show');
      }
    }
  }
</script>

<script>
  // Get all elements with class="close"
  var closebtns = document.getElementsByClassName("closeAlert");
  var i;

  // Loop through the elements, and hide the parent, when clicked on
  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function() {
      this.parentElement.style.display = 'none';
    });
  }
</script>
</body>