@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<meta name="viewport" content="width=device-width" initial-scale="1.0">
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="~/js/showLoginPage.js" asp-append-version="true"></script>


<body>

<header class=" w3-container w3-red w3-center" style="height: 25%; padding-top: 55px;">
        <h1 class="w3-margin w3-jumbo"
          style="color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Account Home</h1>
        </header>

        <div class="w3" width=100%>
          <div class="w3-bar w3-black w3-card w3-large" width=100%>
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-black"
              href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
            <a onclick="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
              style="width: 20%;"></a>
            <a onclick="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
              style="width: 20%;"></a>
            <a onclick="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
              style="width: 20%;"></a>
            <a onclick="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
              style="width: 20%;"></a>
            <a onclick="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
              style="width: 20%;"></a>
          </div>
        </div>

        <div class="containerNFL" style="align-items: center;">
          <h1 class="w3-display-topmiddle"
            style="display: inline; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; padding-top: 20%;">
            No functions currently available, check back soon!</h1>
        </div>
</body>