@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<meta name="viewport" content="width=device-width" initial-scale="1.0">
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="~/js/showLoginPage.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<body>
<style>
body {
  background-image: url('https://images.squarespace-cdn.com/content/v1/5b352a76f93fd4a1745161a8/1530580533507-XFJITGNH91P5QQGMSX4Q/layout-background.jpg?format=2500w');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<header class="w3-container w3-center" style="height: 25%; padding-top: 15%;">
  <h1 class="w3-margin w3-jumbo"
    style="color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Daily Sports Scores
  </h1>
</header>
</body>