@page
@model MLBModel
@{
    ViewData["Title"] = "NBA";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NBA</title>
    <link rel="icon" type="images/x-icon" href="https://banner2.cleanpng.com/20180219/ssw/kisspng-sport-baseball-play-clip-art-sports-star-cliparts-5a8a64433d6d00.6495583115190190752516.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bestBet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/scoreboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/news.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/kolbyPicks.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/betBoard.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/js/nbaNews.js" asp-append-version="true"></script>
    <script src="~/js/scoreboard.js" asp-append-version="true"></script>
    <script src="~/js/betBoard.js" asp-append-version="true"></script>
    <script src="~/js/bestBets.js" asp-append-version="true"></script>
    <script src="~/js/kolbysBets.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: beige;">
<header class=" w3-container w3-red w3-center" style="height: 25%; padding-top: 35px;">
        <h1 class="w3-margin w3-jumbo"
          style="color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">NBA</h1>
        </header>

          <div class="w3-bar w3-red">
            <a onclick=showNBANews() class="w3-bar-item w3-button w3-mobile w3-hover-white"
              style="width: 33.3%;">Home</a>
            <a onclick=showNBAScores() class="w3-bar-item w3-button w3-mobile w3-hover-white"
              style="width: 33.3%;">Today's Scores</a>
            <a onclick=showNBAOdds() class="w3-bar-item w3-button w3-mobile w3-hover-white"
              style="width: 33.3%;">Betting Odds</a>
          </div>

        <script type="text/javascript">
          showNBANews();
        </script>

        <div class="containerNBA"></div>

        <footer class="footer text-muted">
        <div class="container footerText">
            &copy; 2023 - SportsScores - <a style="color: black;" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
        </footer>

</body>