@page
@model MLBModel
@{
    ViewData["Title"] = "NHL";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NHL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/js/showLoginPage.js" asp-append-version="true"></script>
    <script src="~/js/scoreboard.js" asp-append-version="true"></script>
    <script src="~/js/betBoard.js" asp-append-version="true"></script>
    <script src="~/js/bestBets.js" asp-append-version="true"></script>
    <script src="~/js/kolbysBets.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>

<body style="background-color: #E0E0E0;">
<header class=" w3-container w3-red w3-center" style="height: 25%; padding-top: 55px;">
        <h1 class="w3-margin w3-jumbo"
          style="color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">NHL</h1>
        </header>

          <div class="w3-bar w3-red" width=100%>
            <a onclick=clearNBA() class="w3-bar-item w3-button w3-mobile w3-hover-white"
              style="width: 20%;">Home</a>
            <a onclick=showNHLScores() class="w3-bar-item w3-button w3-mobile w3-hover-white"
              style="width: 20%;">Today's Scores</a>
            <a onclick=showNHLOdds() class="w3-bar-item w3-button w3-mobile w3-hover-white"
              style="width: 20%;">Betting Odds</a>
            <a onclick=showNHLBets() class="w3-bar-item w3-button w3-mobile w3-hover-white"
              style="width: 20%;">Best Bets</a>
            <a onclick=showKolbysNHL() class="w3-bar-item w3-button w3-mobile w3-hover-white"
              style="width: 20%;">Kolby's Bets of the Day</a>

          </div>

        <div id="login">
          <div class="parentContainer">
            <div class="loginContainer"></div>
            <input class="textBox" type="text" id="uname" name="uname" value="Username">
            <input class="textBox" type="text" id="pword" name="pword" value="Password">
            <input onclick=loginOff() class="exitButton" type="submit" value="Exit">
            <input class="loginButton" type="submit" value="Log In">
          </div>
        </div>

        <div class="containerNHL"></div>
</body>